<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Cname:</strong>
  <%= @profile.cname %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @profile.addr %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @profile.mob %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
