<script type="text/javascript">
  $("tr[data-link]").click(function() {
  window.location = this.data("link")
})

</script>
<main>    


<div class="container-fluid">

<div class="row">
<h3  class=" highlight centered bordered" style="color:white;">Advertisements</h3>
<div class="col m12 s12">
<div   class="card grey lighten-4">
<div class="card-content">
   
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
 -->
  


        
<table class="highlight centered bordered">
  <thead>
    <tr>
      <th  >Profile</th>
      <th >Name</th>
      <th >Atype</th>
      <th >Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%@advertisements.each do |advertisement| %>

            
      <tr onclick="location.href='<%=advertisement_path(advertisement)%>'">
              

                  <td><%= advertisement.profile.name %></td>
                  <td><%= advertisement.name %></td>
                  <td><%= advertisement.atype %></td>
                  <td><%= advertisement.cost %></td>
            
      </tr>
    </a>  
    <% end %>
  </tbody>
 
</table>

</div>
</div>
</div>
</div>

<div class="row">
  <div class="col offset-s9">
          
<!-- <a id="addd" class="btn-floating  waves-effect waves-light "><i class="material-icons" > add</i></a>
 --><a  href="<%=new_advertisement_path %>" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

  </div>

</div>
</div>

</div>
            

</main>
<script type="text/javascript">
  $(document).on("click", "#table-id tr", function() {
  var link  = $(this).data("href")
  $.ajax({
    url: link,
    type: "GET"
  });
});

</script>